
:root {
--mb-1: .5rem;
--mb-2: 1rem;
--mb-3: 1.5rem;
--mb-4: 2rem;
--mb-5: 2.5rem;
--mb-6: 3rem;
}
/*========== Table =============*/
  .restaurant-dasboard-label {
    width: 90%;
    height:fit-content;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0%;
  }

.restaurant-dasboard-table {
    border: 2px solid forestgreen;
    height:fit-content;
    width: auto;
    margin: 3% 3% auto;
  }

.restaurant-dasboard-table td{
    border: 1px solid forestgreen;
  }
/*=========== Collapse ==========*/

.restaurant-dasboard-collapse {
  background: rgb(246, 52, 52);
  border-radius: 8px;
  margin: 3%;
}

.restaurant-dasboard-pagination {
  margin: auto auto 2%;
}
/*========== CLASS CSS ==========*/
.section{
    padding: 4rem 0 2rem;
  }
  
  .section-title, .section-subtitle{
    text-align: center;
  }
  
  .section-title{
    font-size: 1.2rem;;
    color: forestgreen;
    margin-bottom: var(--mb-3);
  }
  
  .section-subtitle{
    display: block;
    color: var(--first-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
  }

.restaurant-dasboard__container{
    max-width: 960px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    height:fit-content;
    align-content: center;
    margin-top: 3%;
  }

.restaurant-dasboard-form {
    background: #fff;
    width: 60%;
    height:fit-content;
    margin: 65px auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
  }
  .restaurant-dasboard-form h1 {
    padding: 35px 35px 0 35px;
    font-weight: 300;
  }

  .restaurant-dasboard-form .content {
    padding: 35px;
    text-align: center;
  }
  .restaurant-dasboard-form .input-field {
    padding: 12px 5px;
  }
  .restaurant-dasboard-form .input-field input {
    font-size: 16px;
    display: block;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
 


  .restaurant-dasboard-form .action button {
    width: 100%;
    border: none;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #e8e9ec;
    color: #777;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
  }

  .restaurant-dasboard-form .submit button {
    width: 100%;
    border: none;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #2d3b55;
    color: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  .restaurant-dasboard-form .action button:hover {
    background: #d8d8d8;
  }
  .restaurant-dasboard-form .action button:nth-child(2) {
    background: #2d3b55;
    color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
  }
  .restaurant-dasboard-form .action button:nth-child(2):hover {
    background: #3c4d6d;
  }

  .go_button{
    width: 50px;
    height: 30px;
    align-self: center;
    margin-bottom: 3px;
    margin-left: 30%;
    border-radius: .5rem;
    background-color: lightgreen;
  }
  